services:
  api_registrar:
    build: ./api_registrar
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql://admin:admin123@db:5432/gestion_datos_personales
    depends_on:
      - db
    networks:
      my_net:
        ipv4_address: 172.28.1.2

  api_consultausuarios:
    build: ./api_consultaUsuarios
    ports:
      - "5001:5000"
    environment:
      - DATABASE_URL=postgresql://admin:admin123@db:5432/gestion_datos_personales
    depends_on:
      - db
    networks:
      my_net:
        ipv4_address: 172.28.1.3

  api_actualizar:
    build: ./api_actualizar
    ports:
      - "5002:5000"
    environment:
      - DATABASE_URL=postgresql://admin:admin123@db:5432/gestion_datos_personales
    depends_on:
      - db
    networks:
      my_net:
        ipv4_address: 172.28.1.4

  api_borrar:
    build: ./api_borrar
    ports:
      - "5003:5000"
    environment:
      - DATABASE_URL=postgresql://admin:admin123@db:5432/gestion_datos_personales
    depends_on:
      - db
    networks:
      my_net:
        ipv4_address: 172.28.1.5

  api_consultalog:
    build: ./api_consultaLog
    ports:
      - "5004:5000"
    environment:
      - DATABASE_URL=postgresql://admin:admin123@db:5432/gestion_datos_personales
    depends_on:
      - db
    networks:
      my_net:
        ipv4_address: 172.28.1.6

  db:
    image: postgres:13
    build: ./db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: gestion_datos_personales
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    networks:
      my_net:
        ipv4_address: 172.28.1.10

networks:
  my_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16

volumes:
  pgdata:

